@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>McStanley Video Rentals</h1>
    <p class="lead">.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rent a Movie</h2>
        <p>
            Rent a Dvd or Blu-ray
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("All Movies >>  ", "Index", "Movies")</a></p>  
    </div>
    <div class="col-md-4">
        <h2>Return a Movie</h2>
        <p> Return Dvd or Blu-rays </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View all Overdue Movies</h2>
        <p>View all overdue Dvds or Blu-rays</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>